@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("images/coding.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.lead{
  font-size: 27px;
  text-shadow: 2px 2px 4px #000000;
}
nav{
  margin-bottom: 55px;
}

nav .navbar-brand{
  font-size: 35px;
  text-decoration: underline;
}

nav .nav-item{
  font-size: 22px;
}
nav a:hover{
  cursor: pointer;
}
/*HOME*/
#secretTxt{
  display: none;
}

/*CONTACT*/
.fa-github{
  color: yellow;
}

.fa-github:hover{
  cursor: pointer;
}
